body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.hero {
  width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-backgraund.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-backgraund.jpg);
  padding: 200px 0;
  background-color: #2f303a;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
}

.hero-text {
  height: 120px;
  width: 696px;
  top: 280px;
  margin-left: 226px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantage-section {
  padding: 94px 0;
}

.advantage-item {
  width: 270px;
}

.advantage-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage-item:not(:first-child) {
  margin-left: 30px;
}

.advantage__list {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.advantage-card__icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1) 350ms, -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1) 350ms, -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1) 350ms, box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1) 350ms, box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-current {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button {
  display: block;
  margin: auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:focus, .main-button:hover {
  background-color: #188ce8;
}

.works-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.work-button-li:not(:first-child) {
  margin-left: 8px;
}

.works-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.work-button-li:not(:first-child) {
  margin-left: 8px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: #afb1b8 1px solid;
  cursor: pointer;
  color: #afb1b8;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item__link:hover, .clients-item__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients-logo {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #ffffff;
}

.contact-text-footer {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-text-footer:hover, .contact-text-footer:focus,
.contact-text-footer .current {
  color: #2196f3;
}

.footer-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-icons {
  min-width: 206px;
  min-height: 80px;
  margin-left: 70px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-social-link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  -webkit-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.footer-subscribe {
  width: 570px;
  height: 86px;
  margin-left: auto;
}

.subscribe-icon {
  fill: #ffffff;
  background-color: transparent;
  margin-left: 10px;
}

.footer-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  color: #ffffff;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 350ms;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 350ms;
}

.subscribe-input:hover, .subscribe-input:focus {
  border-color: #2196f3;
  border-color: #2196f3;
}

.logo-text {
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}

.logo-accent {
  color: #212121;
}

.logo-accent-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.logo-text-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
  position: relative;
}

.modal__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-user-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 12px 16px;
  resize: none;
  outline: none;
  -webkit-transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-text:focus, .modal-user-text:hover {
  border-color: #2196f3;
}

.modal-user-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-user-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-user-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-user-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-privacy-text {
  font-size: 14px;
  line-height: 1.5;
  padding-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #0000001a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: #2196f3;
}

.close__icon:focus,
.close__icon:hover {
  color: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 350ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 350ms;
}

.modal__icon:focus, .modal__icon:hover {
  fill: #2196f3;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  padding-left: 36px;
  padding-right: 16px;
  -webkit-transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 350ms;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 350ms;
}

.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-privasy {
  color: #2196f3;
  margin-left: 5px;
}

.modal-privacy-text span {
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  -webkit-transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  fill: #ffffff;
}

.modal-check:checked + .modal-privacy-text span {
  background-color: #2196f3;
  border: transparent;
  fill: #ffffff;
}

.modal-check:focus + .modal-privacy-text span,
.modal-check:hover + .modal-privacy-text span {
  border-color: #2196f3;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.logo-text {
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}

.logo-accent {
  color: #212121;
}

.link-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover, .link-nav:focus,
.link-nav .current {
  color: #2196f3;
}

.link-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.nav-menu__item:not(:first-child) {
  margin-left: 50px;
}

.nav-menu__item {
  position: relative;
}

.link-nav__text {
  padding: 32px 0;
}

.link-nav.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  bottom: -1px;
}

.contact {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__text {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  -webkit-transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__text:hover, .contacts__text:focus {
  color: #2196f3;
}

.contact__item:not(:first-child) {
  margin-left: 50px;
}

.contact__icons {
  margin-right: 10px;
  fill: currentColor;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team {
  margin-bottom: 50px;
}

.team-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-list:not(:first-child) {
  margin-left: 30px;
}

.team-list {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team-role {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.team-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-social-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  color: #afb1b8;
  -webkit-transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover, .team-social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.team-icon {
  fill: currentColor;
}

.team-icon:hover {
  fill: #ffffff;
}

.team-item-text {
  padding: 30px 32px;
}

.wedo {
  padding-top: 0;
  padding-bottom: 94px;
}

.wedo-title {
  margin-bottom: 50px;
}

.wedo-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wedo-list:not(:first-child) {
  margin-left: 30px;
}

.wedo-list {
  position: relative;
}

.wedo-backdrop {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-align: center;
  background: #2f303acc;
}

.wedo-prodyct {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.cards > .cards-item {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.our-produkt-wrap {
  overflow: hidden;
}

.cards-item:hover .our-produkt-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.our-product-link {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 350ms;
  transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 350ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 350ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 350ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 350ms;
}

.our-product-link:hover, .our-product-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-product-link:focus .our-produkt-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.our-produkt-wrap {
  width: 100%;
  position: relative;
}

.our-produkt-description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3e5;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.our-product-text {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.text-box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/*# sourceMappingURL=main.css.map */