$--background-color: #2f303a;
$--main-text-color: #212121;
$--second-text-color: #757575;
$--accent-color: #2196f3;
$--second-button-text-color: #ffffff;
$--animation-duration: 350ms;
$--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
